<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Location of GitPrise web application -->
    <add key="GitPriseWebPath" value="c:\dev\Projects\My\gitprise\src\GitPrise.Web"/>
    <!-- Port to use -->
    <add key="Port" value="4000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
