<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Absolute path to Visual Studio 2010 built in web server (.net 4 version) -->
    <add key="VSWebServerPath" value="C:\Program Files (x86)\Common Files\microsoft shared\DevServer\10.0\WebDev.WebServer40.EXE"/>
    <!-- Location of GitPrise web application -->
    <add key="WebApplicationDirectory" value="c:\dev\Projects\My\gwit\src\GitPrise.Web"/>
    <!-- Port to use (leave blank for dynamic port) -->
    <add key="Port" value="3690"/>
  </appSettings>
</configuration>